.sale-page {
    padding: 20px;
    background: white;
    border-bottom: 1px solid $cool-grey-9;
    
    .image-carousel {
        display: flex;
        overflow-x: auto;

        img {
            margin: 0 10px;
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
    }

    .sale-description {
        margin-bottom: 10px;
    }

    .sale-dates-wrapper {
        display: flex;
        justify-content: center;
        margin: 10px 0;

        table {
            font-size: .9rem;
        }
    }

    .sale-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}