/* Variables */
$main-blue: #39A0ED;
$blue-text: #4C6085;

$white: #ffffff;

/* Imports */
@import './components/nav.scss';
@import './pages/settings.scss';
@import './pages/sale.scss';
@import './pages/index.scss';
@import './pages/bookmarks.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:700&display=swap');
/* Global Styles */
body {
    margin-top: 50px;
    font-family: 'Red Hat Text', sans-serif;
}